* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-image: url(gambar/light.png);
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #ffffff;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background-image: url(gambar/menu.jpg);
    z-index: 1;
    border-bottom:1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

a.tbl-dark {
    background: #0D1744;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-dark:hover {
    background: #0734F5;
    text-decoration: none;
}

.login-form h2 {
    background-color: #34DBD0;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

.login-form tr td {
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    width: 150px;
    height: 20px;
}
.input-form{
    width: 428px;
    height: 20px;
}
.submit{
    padding: 20px 0;
    border-radius: 10px;
    background-color: #2563EB ;
    border: none;
    color: #ffffff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -20px;
}

